*{
    margin:0;
    padding:0
}

.main-container{
    margin:0;
    display:grid;
    grid-template:20% 20% 20% 20% 20%/20% 20% 20% 20% 20%
}

.grid-item{
    /* border:1px solid black; */
    padding:10px;

}

.sidebar{
    background-color: lightskyblue;
    grid-column: 1/2;
    grid-row: 1/6;
    height: 100vh;
    
    position:sticky;
    

}

.sidebar-item > h3{
    color:white;

}

.header{
    background-color: whitesmoke;
    grid-column:2/6;
    grid-row:1/2
}

